{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="x_content" >
               

          <table id="datatable-instance-list" class="cool-table">
                    <thead>
                      <tr>
                          <th> Created Bill </th>
                      {% for column in columns %}
                        <th>{{column}}</th>
                      {% endfor %}
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                
                         
                  
                  {% for instance_name, instance_bill_details in data.items %}

                            <td>{{instance_name}}</td>
	                      	<td>{{instance_bill_details.program}}</td>
	                      	<td>{{instance_bill_details.team}}</td>
	                      	<td>{{instance_bill_details.start_date}}</td>
                            <td>{{instance_bill_details.end_date}}</td>
                            <td>{{instance_bill_details.total_cost}}</td>
                            <td>{{instance_bill_details.Unit}}</td>
                           
                          </tr>
                        </tbody>
                            {% endfor %}

                            <tfoot>
                              <tr>
                                <td>Subtotal</td>
                             
                                <td>{{total_cost}}</td>
                                <td>USD</td>
                           
                              </tr>
                            </tfoot>
                   

</div>
  	     </table>                  		 <!-- Example split danger button -->
{% endblock %}
