{% extends "base.html" %}
{% block content %}
        <!-- page content -->

      <script>
        function change()
        {
          var provider = document.getElementById("cloud_prov_name");
          if(provider.value == "AWS")
          {
           
            document.getElementById("Image_name_op").style.display="none";
          
        
          }
          else
          {
           
            document.getElementById("Image_name_op").style.display="block";
          
          }
          if(provider.value == "OpenStack")
          {
            document.getElementById("key_name").style.display="none";
            document.getElementById("Image_name").style.display="none";
        
          }
          else
          {
            document.getElementById("key_name").style.display="block";
            document.getElementById("Image_name").style.display="block";
            
          }
        }
      </script>

    	{% if messages %}
    	<ul class="messages">
    	  {% for message in messages %}

    	  <div class="alert alert-primary">
    	    <a href="#" class="close" data-dismiss="alert">&times</a>
    	     	{{ message }}
    	  </div>

    	  {% endfor %}
    	</ul>
    	{% endif %}
<body onload="change()">
  

            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title-form-instance">
                    <h3>Create a new Instance</h3>
                    <div class="clearfix"></div>
                  </div>
                  <div class="create_content">
                    <br />

                    <form id="form" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'accounts:create_new_instance' %}" method="post">
	                  <div class="form-group">
	                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Cloud Provider<span class="required">*</span></label>
	                    <div class="col-md-4 col-sm-4 col-xs-12">
	                      <select class="form-control form-control-sm" name="cloud_prov_name" id ="cloud_prov_name" onchange="change()">
	                      {% for cloud_provider in cloud_providers_list %}
	                      	<option value={{cloud_provider.cloud_prov_name}}>{{ cloud_provider.cloud_prov_name }}</option>
                        

	                      {% endfor %}
	                      </select>
	                   </div>
	                  </div>


                      <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="instance_name">Instance Name <span class="required">*</span>
                      </label>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <input type="text" id="instance_name" name="instance_name" class="form-control form-control-sm">
                      </div>
                    </div>

                






                    <div class="form-group" name="program_name" id ="program_name">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Program <span class="required">*</span></label>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control form-control-sm" name="program_name" id ="program_name">
                        {% for Program in program_name_list %}
                          <option>{{ Program.program_name}}</option>
                        {% endfor %}
                        </select>
                     </div>
                    </div>




                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Team">Team <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select class="form-control form-control-sm" name="team_name" id ="team_name">
                          {% for Team in team_name_list %}
                            <option>{{ Team.team_name}}</option>
                          {% endfor %}
                          </select>
                        </div>
                      </div>

                    <div class="form-group">
  								<label class="control-label col-md-3 col-sm-3 col-xs-12"
  									for="contact1">Contact<span class="required">*</label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
  									<input type="text" class="form-control form-control-sm" id="contact_name" name="contact_name" placeholder="example@gmail.com" required="required" />
  								</div>
  							</div>


                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="User">User <span class="required">*</span>
                </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <select class="form-control form-control-sm" name="username" id ="username">
                  {% for UserProfile in users_list %}
                    <option>{{ UserProfile.user.username}}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Instance Type<span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select class="form-control form-control-sm" name="flavor_name" id ="flavor_name">
                          {% for Flavor in flavor_list %}
                            <option>{{ Flavor.flavor_name}}</option>
                          {% endfor %}
                          </select>
                       </div>
                      </div>
                      <div class="form-group" name="Image_name" id ="Image_name">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Image AWS<span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select class="form-control form-control-sm" name="Image_name" id ="Image_name">
                          {% for Image in Image_aws_list %}
                            <option>{{ Image.Image_name}}</option>
                          {% endfor %}
                          </select>
                       </div>
                      </div>

                      <div class="form-group"  name="key_name" id ="key_name">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Key Name<span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <select class="form-control form-control-sm" name="key_name" id ="key_name">
                          {% for Key in KeyName_list %}
                            <option>{{ Key.key_name}}</option>
                          {% endfor %}
                          </select>
                       </div>
                      </div>

                      
                    <div class="form-group" name="Image_name_op" id ="Image_name_op">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Image ID <span class="required">*</span></label>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control form-control-sm" name="Image_name_op" id ="Image_name_op">
                        {% for Openstack_image in Image_op_list %}
                          <option>{{ Openstack_image.image_name}}</option>
                        {% endfor %}
                        </select>
                     </div>
                    </div>

                   

                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
  						  <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>
          {% endblock %}
          <!-- /page content -->
