{% extends "base.html" %}
{% load static %}
{% block content %}





<div class="x_content" >
                  <p class="text-muted font-13 m-b-30">
                  </p>

                  <table id="datatable-instance-list" style="width: 100% !important" class="table table-striped table-bordered display compact">
                    <thead>
                      <tr>
                          <th> Created Bill </th>
                      {% for column in columns %}
                        <th>{{column}}</th>
                      {% endfor %}
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <tfoot>
                         
                  
                  {% for bill in data %}

                            <td>{{bill.start_date}}</td>
	                      	<td>{{bill.program}}</td>
	                      	<td>{{bill.team}}</td>
	                      	<td>{{bill.start_date}}</td>
                            <td>{{bill.end_date}}</td>
                            <td>{{bill.total_cost}}</td>
                            <td>{{bill.Unit}}</td>

	                      	
                      </tfoot>
                            </tr>
{% endfor %}



  	                      		 <!-- Example split danger button -->
{% endblock %}
