{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="right_col" role="main">
<ul class="messages">
{% if messages %}
  <div class="alert alert-primary">
    <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
  </div>
{% endif %}

<div class="y_content" >
                

                  <table id="datatable-instance-list" class="list-table">
                    <thead>
                      <tr>
                          <th> Instances List </th>
                      {% for column in columns %}
                        <th>{{column}}</th>
                      {% endfor %}
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                      
                  {% for instance in data %}


                      <td><a href="{% url 'accounts:instance_details' %}?instance_details={{instance.instance_name}}">{{instance.instance_name}} </a></td>

	                      	<td>{{instance.cloud_provider__cloud_prov_name}}</td>
	                      	<td>{{instance.program__program_name}}</td>
	                      	<td>{{instance.team__team_name}}</td>
                          <td>{{instance.flavor__flavor_name}}</td>
                          <td>{{instance.flavor__CPU}}</td>
                          <td>{{instance.flavor__Ram_GB}}</td>
	                      	<td>{{instance.flavor__Storage_GB}}</td>
	                      	<td>{{instance.State}}</td>
                          <td>{{instance.launch_time}}</td>
                          <td>{{instance.total_cost}}</td>
	                      	
                     
                            </tr>
{% endfor %}
 </table>


  	                      		 <!-- Example split danger button -->
{% endblock %}
