{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- page content -->
       


        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
        
          <div class="alert alert-primary">
            <a href="#" class="close" data-dismiss="alert" >&times</a>
            {{ message }}
          </div>
        
          {% endfor %}
        </ul>
        {% endif %}
        
        <body onload="change()">
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title-details">
                  <h2>Instance Details</h2>
                  <div class="clearfix"></div>
                </div>
                
              </div>
              <div class="details_content">
                <br />

                <form id="form" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'accounts:instance_actions' %}" method="post">
                <div class="form-group" >
                <b> <label class="control-label col-md-3 col-sm-3 col-xs-12">Cloud Provider:</label></b> 
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <select class="form-control-select" name="cloud_prov_name" id ="cloud_prov_name" >
                    {% for instance in data %}
                      <option value="{{instance.cloud_provider__cloud_prov_name}}">{{instance.cloud_provider__cloud_prov_name}}</option>
                  
                    {% endfor %}
                    </select>
                 </div>
                </div>

                  



                  <div class="form-group" name="op_image" id ="op_image" >
                    <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Image:</label></b>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <td class="form-control" name="op_image" id ="op_image" >
                        {% for instance in data %}
                        <tr>{{instance.Image_op__image_name}}</tr>
                        {% endfor %}
                      </td>
                    </div>
                  </div>
        
                  
            
              

                    <div class="form-group">
                      <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Instance Name:</label></b>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <td class="form-control" name="instance_name" id ="instance_name">
                         {% for instance in data %}
                          <tr>{{instance.instance_name}}</tr>
                        {% endfor %}

                     </div>
                    </div>

                    <div class="form-group">
                      <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Team:</label></b>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <td class="form-control" name="team" id ="team">
                         {% for instance in data %}
                          <tr>{{instance.team__team_name}}</tr>
                        {% endfor %}
                      </div>
                     </div>

                     <div class="form-group">
                       <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Contact:</label></b>
                       <div class="col-md-4 col-sm-4 col-xs-12">
                         <td class="form-control" name="contact" id ="contact">
                          {% for instance in data %}
                           <tr>{{instance.contact}}</tr>
                         {% endfor %}
                      </div>
                    </div>


                    <div class="form-group">
                      <b><label class="control-label col-md-3 col-sm-3 col-xs-12">User:</label></b>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <td class="form-control" name="user_name" id ="user_name">
                         {% for instance in data %}
                          <tr>{{instance.users__user_name}}</tr>
                        {% endfor %}
                     </div>
                   </div>


                   <div class="form-group">
                     <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Instance Type:</label></b>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                       <td class="form-control" >
                        {% for instance in data %}
                         <tr>{{instance.flavor__flavor_name}}</tr>
                       {% endfor %}
                    </div>
                  </div>


               

                 <div class="form-group" name="aws_imgage" id ="aws_image">
                  <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Image:</label></b>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <td class="form-control" name="aws_imgage" id ="aws_image">
                      {% for instance in data %}
                      <tr>{{instance.Image_aws__Image_name}}</tr>
                    {% endfor %}
                    </td>
                 </div>
               </div>


          

                <div class="form-group">
                  <b><label class="control-label col-md-3 col-sm-3 col-xs-12">CPU:</label></b>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <td class="form-control" name="CPU" id ="CPU">
                      {% for instance in data %}
                      <tr>{{instance.flavor__CPU}}</tr>
                    {% endfor %}
                 </div>
               </div>
               <div class="form-group">
                <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Storage (GB):</label></b>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <td class="form-control" name="Storeage" id ="Storeage">
                    {% for instance in data %}
                    <tr>{{instance.flavor__Storage_GB}}</tr>
                  {% endfor %}
               </div>
             </div>

               <div class="form-group">
                <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Ram (MB):</label></b>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <td class="form-control" name="ram" id ="ram">
                    {% for instance in data %}
                    <tr>{{instance.flavor__Ram_GB}}</tr>
                  {% endfor %}
               </div>
             </div>


             
             <div class="form-group" name="key_name" id ="key_name" >
              <b><label class="control-label col-md-3 col-sm-3 col-xs-12">Key:</label></b>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <td class="form-control" name="key_name" id ="key_name" >
                  {% for instance in data %}
                 <tr>{{instance.KeyName__key_name}}</tr> 
                  {% endfor %}
                </td>
              </div>
            </div>

           
            <div class="form-group" name="state" id ="state">
              <b> <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">State:
              </label></b>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <select class="form-control-select" name="state" id ="state">
                    {% for instance in data %}
                    <option>{{ instance.State}}</option>
                  {% endfor %}
                  </select>
                </div>


               <div class="form-group" name="id_instance" id ="id_instance">
              <b> <label class="control-label col-md-3 col-sm-3 col-xs-12" for="id_instance">Instance ID:
              </label></b>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <select class="form-control-select" name="id_instance" id ="id_instance">
                    {% for instance in data %}
                    <option>{{ instance.id_instance}}</option>
                  {% endfor %}
                  </select>
                </div>
                  
                <button id = "delete-btn"  class="btn btn-danger" type="submit" name="delete" >Delete Instance </button>
                <button class="btn btn-success" type="submit" name="start" >Start</button>
                <button class="btn btn-warning" type="submit" name="stop" >Stop</button>
                          </div>
                        </div>
                  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>
      </form>
          <script>
            function change() {
              var provider = document.getElementById("cloud_prov_name");
            
            
              if (provider.value == "AWS") {
         
                document.getElementById("op_image").style.display = "none";
        

              } else {


                document.getElementById("op_image").style.display = "block";
                document.getElementById("aws_image").style.display = "none";
                document.getElementById("key_name").style.display = "none";

                window.alert( point);
              }
            }
            </script>
        <script>
          function confirmDelete() {
            if (confirm("Are you sure you want to delete this instance permanently?")) {
              // User clicked "OK", submit the form
              document.getElementById("form").submit();
            }
            // User clicked "Cancel", do nothing
          }
          // Attach the function to the delete button's click event
          document.getElementById("delete-btn").addEventListener("click", confirmDelete);
          </script>
  
          <!-- /page content -->

{% endblock %}